.button {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #00ff00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #00cc00;
}

.button:active {
  background-color: #009900;
}
